extends layout

block content
  .container
    h1= title
    p Welcome to #{title}

    if user
      p You are logged in as: #{user.username}
      div
        strong Role:
        if user.role
          span(class="role-badge role-" + user.role)= user.role.toUpperCase()
        else
          span Unknown Role
    else
      p Please #[a(href="/u/login") Login] to play

