doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='preconnect', href='https://fonts.googleapis.com')
    link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Alkatra&family=Nabla&family=Tilt+Prism&display=swap')
  body
    nav
      a(class='active', href='/') Home
      if user
        a(class='', href='/g/play') Play
        a(class='', href='/g/leaderboard') Leaderboard
        a(class='', href='/q/addQuestions') Add Questions
        a(class='', href='/q/viewQuestions') View Questions
        if user.role === 'admin'
          a(class='', href='/a/users') Users
        a(class='', href='/u/profile') Profile
        a(class='', href='/u/logout') Logout #{user.username}
      else
        a(class='', href='/u/login') Login
    block content