extends layout

block content
    .container
        h1 Register
        if error != ''
            label(class='error') #{error}
        form(action='/u/register', method='post')
            label First Name:
            input(type='text', name='firstname')
            br
            label Last Name:
            input(type='text', name='lastname')
            br
            label Username:
            input(type='text', name='username')
            br
            label Email:
            input(type='text', name='email')
            br
            label Password:
            input(type='password', name='password')
            br
            input(type='submit', value='Register')