extends layout

block content
  .container
    h1 Users
    div(class="userContainer")
      each user in users 
        div(class='userBox')
          h2 Username: #{user.username}
          div Password: #{user.password}
          div
            strong Role:
            if user.role
              span(class="role-badge role-" + user.role)= user.role.toUpperCase()
            else
              span Unknown Role 


          div
            if user.disabled
              span(class='disabled-label') Account Disabled
              a(href='/a/enable/' + user.userId) Enable
            else
              a(href='/a/disable/' + user.userId) Disable

          div
            a(href='/a/delete/' + user.userId) Remove

          div
            if user.role === 'admin'
              if user.role != 'admin'
                a(href='/a/promote/' + user.userId) Promote
              if user.role != 'user'
                a(href='/a/demote/' + user.userId) Demote


